{% extends 'base.html.twig' %}

{% block body %}

	<h1 class="text-center mt-5 font-weight-bold">Bienvenue sur Mon Blog</h1>

	<h2 class="text-center mt-5">Formation DWWM 2020 - 2021</h2>

{% endblock %}
