{% extends 'base.html.twig' %}

{% block body %}


	<h1 class="text-center mt-5">Création d'un article</h1>

	{{ form_start(form, {'attr': {'class' : 'container'}})}}


	{{ form_widget(form)}}


		{% if modif %}
	<button type="submit" class="btn btn-success">
			Modifier l'article
	</button>
		{% else %}
	<button type="submit" class="btn btn-primary">
			Ajouter l'article
	</button>
		{% endif %}

	{{ form_end(form)}}

{% endblock %}
